{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/redefinir_senha.css' %}">
</head>
<body>

<div class="top-background"></div>

<div class="redefinir-senha-container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Redefinir Senha</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  {# Renderiza os campos do formulário #}
        <button type="submit">Redefinir Senha</button>
    </form>

    <a href="{% url 'usuarios:login' %}" class="back-button">Voltar ao login</a>
</div>

</body>
</html>
