/* Estilos Gerais */
body {
    font-family: 'K2D', sans-serif;
    background-color: white; 
    margin: 0;
}

/* Estilos do Container Geral */
.container-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto; /* Permite rolagem vertical */
}

/* Estilos do Container do Formulário */
.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 450px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Estilos do Título */
h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Estilos dos Inputs (com placeholder) */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Ocupa toda a largura do container */
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Estilos do Botão */
button[type="submit"] {
    background-color: #097600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; 
}

/* Estilos da Mensagem de Erro */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos para cada grupo de input e label */
.form-group {
    display: flex;
    flex-direction: column; 
    margin: 0 auto 20px;
    width: 100%; 
}

/* Estilos do Container dos Botões */
.botoes-container {
    display: flex;             /* Ativa o Flexbox */
    justify-content: center;   /* Centraliza os itens horizontalmente */
    align-items: center;      /* Centraliza os itens verticalmente (opcional) */
    margin-bottom: 20px;
    width: 450px;
    gap: 20px;
}

/* Estilos Gerais dos Botões */
.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    flex: 1;
}

/* Estilos Específicos dos Botões */
.botao-cadastrar {
    background-color: #097600;
    color: white;
    margin-right: 20px; 
    margin-bottom: 50px;
    display: block;           /* Garante que o botão ocupe toda a largura */
    margin: 0 auto;           /* Centraliza o botão horizontalmente */
}

.botao-editar {
    background-color: #D9D9D9;
    color: black;
    margin-right: 20px; 
    margin-bottom: 50px;
}

.botao-container {
    display: flex;
    justify-content: center; 
}




.error label::after {
    content: "*";  /* Adiciona um asterisco após o rótulo */
    color: red;    /* Define a cor do asterisco para vermelho */
    margin-left: 5px; /* Adiciona um pequeno espaçamento entre o rótulo e o asterisco */
}

.error input, .error textarea {
    border-color: red; /* Muda a cor da borda do campo para vermelho */
}

.errorlist {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
}

/* cadastro.css */
.cadastro-container .messages {
    margin-top: 20px; /* Adiciona uma margem superior à mensagem */
}
