{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/criar_grupo.css' %}">

<div class="container-geral">
    <div class="cadastro-container">
        <h2>Criar Novo Grupo</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% endif %}




        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome do Grupo:</label>
                <input type="text" id="nome" name="name">  
            </div>            

            <div class="form-group">
                {{ form.permissions.label_tag }}
                {{ form.permissions }}
            </div>

            <div class="form-group">
                <label for="modulos">Módulos:</label>
                <input type="text" id="modulo-search" placeholder="Buscar módulos">
                <div id="modulos-container" class="transacoes-scrollable">
                    {% for modulo in modulos %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="modulos" value="{{ modulo.id }}"> {{ modulo.nome }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('modulo-search').addEventListener('input', function() {
        var searchTerm = this.value.toLowerCase();
        var options = document.querySelectorAll('#modulo-select option');
        options.forEach(function(option) {
            var label = option.textContent.toLowerCase();
            option.style.display = label.includes(searchTerm) ? 'block' : 'none';
        });
    });
</script>
{% endblock %}
