{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/editar_transacao.css' %}">

<div class="container-geral">
    <div class="cadastro-container">
        <h2>{% if transacao %}Editar Transação: {{ transacao.nome }}{% else %}Criar Nova Transação{% endif %}</h2>
    
        <div class="formulario-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome">Nome:</label>
                    {{ form.nome }}
                </div>
                <div class="form-group">
                    <label for="id_descricao">Descrição:</label>
                    {{ form.descricao }}
                </div>

                <!-- Campo de busca de permissões -->
                <div class="form-group">
                    <label for="permissao-search">Buscar permissões:</label>
                    <input type="text" id="permissao-search" placeholder="Buscar permissões">
                </div>
                <!-- Contêiner das permissões -->
                <div id="permissoes-container">
                    {% for permissao in permissoes %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="permissoes" value="{{ permissao.id }}" {% if permissao.checked %} checked {% endif %}>
                                <!-- Adicione instrução print para verificar os valores -->
                                {% if permissao.name %}{{ permissao.name }} - {% endif %}
                                {% if permissao.codename %}{{ permissao.codename }}{% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                

                <button type="submit">Salvar</button>
            </form>
        </div>

        <!-- Exibição de mensagens de sucesso ou erro -->
        {% block messages %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endblock messages %}
    </div>
</div>

<script>
document.getElementById('permissao-search').addEventListener('input', function() {
    var searchTerm = this.value.toLowerCase();
    var checkboxes = document.querySelectorAll('#permissoes-container .checkbox');
    checkboxes.forEach(function(checkbox) {
        var label = checkbox.querySelector('label').textContent.toLowerCase();
        checkbox.style.display = label.includes(searchTerm) ? 'block' : 'none';
    });
});
</script>

{% endblock %}
