<!-- funcoes_cadastradas.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/relatorios.css' %}">

<div class="btn-relatorios-container text-center">
    <div class="btn-group" role="group">
        <a href="{% url 'galeria:relatorios' %}" class="btn btn-primary">Geral</a>
        <a href="{% url 'galeria:usuarios_cadastrados' %}" class="btn btn-primary">Usuários Cadastrados</a>
        <a href="{% url 'galeria:perfis_usuarios' %}" class="btn btn-primary">Perfis de Usuários</a>
        <a href="{% url 'galeria:lista_modulos' %}" class="btn btn-primary">Lista de Módulos</a>
        <a href="{% url 'galeria:lista_transacoes' %}" class="btn btn-primary">Lista de Transações</a>
        <a href="{% url 'galeria:funcoes_cadastradas' %}" class="btn btn-primary mr-2">Funções Cadastradas</a>
        <form action="{% url 'galeria:exportar_relatorios' %}" method="get">
            <button type="submit" class="btn btn-export ml-2">Exportar Relatórios</button>
        </form>
    </div>
</div>

<div class="container text-center mt-5">
    <div class="relatorios-container">
        <h2>Lista de Funções Cadastradas</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nome da Função</th>
                    <th>Código</th>
                </tr>
            </thead>
            <tbody>
                {% for funcao in funcoes %}
                <tr>
                    <td>{{ funcao.name }}</td>
                    <td>{{ funcao.codename }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
