/* Estilos Gerais */
body {
    font-family: 'K2D', sans-serif;
    background-color: #ffffff; /* Cor de fundo branca para o body */
    margin: 0;
}

/* Estilos do Container Geral */
.container-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    overflow-y: auto; /* Permite rolagem vertical */
}

/* Estilos do Container do Formulário */
.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Estilos do Título */
h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos dos Inputs (com placeholder) */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Ocupa toda a largura do container */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Estilos do Botão */
button[type="submit"] {
    background-color: #097600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; /* Centraliza o texto horizontalmente */
}

.button[type="submit"]:hover,
.button[type="submit"]:focus {
    background-color: #45a049;
    color: white;
    text-decoration: none;
}
/* Estilos da Mensagem de Erro */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos para cada grupo de input e label */
.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px;
    width: 100%;
}

/* Estilos do Container dos Botões */
.botoes-container {
    display: flex;
    justify-content: space-around; /* ou space-between */
    align-items: center;          /* Alinha os botões verticalmente ao centro */
    margin-bottom: 20px;
    width: 100%;
    gap: 40px; /* Aumenta a distância entre os botões */
}

/* Estilos Gerais dos Botões */
.botao {
    padding: 10px 30px; /* Aumenta o padding para aumentar a distância entre os botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-align: center; /* Centraliza o texto horizontalmente */
    flex-basis: 0;
    flex-grow: 1;
    color: inherit; /* Mantém a cor original do texto */
    text-decoration: none; /* Remove o sublinhado */
}

/* Estilos Específicos dos Botões */
.botao-cadastrar {
    background-color: #097600;
    color: white;
}



.botao-editar {
    background-color: #D9D9D9;
    color: black;
}

.error label::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.error input, .error textarea {
    border-color: red;
}

.errorlist {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
}

/* Estilos para a mensagem de sucesso */
.cadastro-container .messages {
    margin-top: 20px;
}

/* Estilos do Formulário */
.cadastro-container form {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente os elementos dentro do form */
}

.botao:hover {
    color: inherit; /* Mantém a cor original do texto no hover */
    text-decoration: none; /* Remove o sublinhado no hover */
}

/* Media Queries para Responsividade */
@media (max-width: 1000px) {
    .cadastro-container {
        width: 100%; /* Ocupa toda a largura da tela */
        margin: 0 10px; /* Adiciona margem lateral para espaçamento */
    }

    h2 {
        font-size: 55px; /* Ajusta o tamanho da fonte do título */
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 44px; /* Aumenta o tamanho da fonte dos inputs */
        padding: 20px; /* Aumenta o padding dos inputs */
    }

    button[type="submit"] {
        font-size: 44px; /* Aumenta o tamanho da fonte do botão */
        padding: 20px 40px; /* Aumenta o padding do botão */
    }

    /* Ajustes de tamanho de fonte para textos fora dos botões */
    .error-message,
    .error label,
    .error input[type="text"]::placeholder,
    .error input[type="email"]::placeholder,
    .error input[type="password"]::placeholder {
        font-size: 44px; /* Aumenta o tamanho da fonte dos textos de erro e placeholders */
    }

    /* Ajuste de tamanho de fonte para labels específicas */
    label[for="id_username"],
    label[for="id_email"],
    label[for="id_first_name"],
    label[for="id_last_name"],
    label[for="id_password1"],
    label[for="id_password2"] {
        font-size: 44px; /* Ajusta o tamanho da fonte das labels específicas */
    }
    .errorlist {
        font-size: 35px;
    }
}


